main.row
  .col-xs-4.mystones
    .well TODO : addresse
  .col-xs-2.houseitems
    .row.vendors
      .well TODO : Énergie - EDF
    .row.equipments
      .well TODO : TV
    .row.objects
      .well TODO : table
  .col-xs-6.houseitemdetails
  .col-xs-6.contract
  .col-xs-6.consomation
  .col-xs-6.facture
.container
  main

      .client



.message
