main.row
  .col-xs-4.mystones
    .well TODO : addresse
  .col-xs-8.houseitems
    .row.vendors
      .well TODO : Énergie - EDF
        //- .row.equipments
        //-   .well TODO : TV
    .row.objects
      .well TODO : table

  .houseitemdetails(style="display: none;")

.message
