main.row
  .col-xs-4.mystones
    .well TODO : addresse
  .col-xs-8.houseitems
    .row
      .col-xs-12.vendors

    .row
      .col-xs-12.objects



  article.houseitemdetails(style="display: none;")

.message
#popin