main.row
  .col-xs-4.mystones
    .well TODO : addresse
  .col-xs-2.houseitems
    .row.networkoperators
      .well TODO : Énergie - EDF
    .row.equipments
      .well TODO : TV
    .row.objects
      .well TODO : table
  .col-xs-6.houseitemdetails

.message