mixin period(value, unit, metaphoreCount, metaphoreLabel, metaphoreImg)
  span.text1
    span.value= value.toFixed(2)
    span.unit= unit
  span.equal =
  span.metaphore
    //- .metaphoreicons
    - var n = 0;
    while n < metaphoreCount
      img(src=metaphoreImg)
      - n++
    .metaphoreLabel
      = metaphoreCount
      = metaphoreLabel

h3
  i.fa.fa-eur
  | Budget
  |&emsp;-&emsp;
  | Vos dépenses&ensp;
  //- = name
  //-  | &ensp;
  | représentent :

.row
  .col-xs-5
    img.illustration(src='/assets/img/illustrations/ON40SD0.jpg')

  .col-xs-7.budgetlines
    if daily
      .budgetline.daily
        +period(daily, "€/jour ", dailyMetaphore, " croissants", "/assets/img/croissant.svg")

    if mensual
      .budgetline.mensual
        +period(mensual, "€/mois ", mensualMetaphore, " places de cinéma", "/assets/img/cinematicket.svg")

    if annual
      .budgetline.annual
        +period(annual, "€/an ", annualMetaphore, " dîners gastronomiques", "/assets/img/toque.svg")
