mixin period(value, unit, metaphoreCount, metaphoreLabel, metaphoreImg)
  span.value= value.toFixed(2)
  span.unit= unit
  .metaphore
    //- .metaphoreicons
    - var n = 0;
    while n < metaphoreCount
      img(src=metaphoreImg)
      - n++
    .metaphoreLabel
      = metaphoreCount
      = metaphoreLabel
  .clearright

h3 Budget
img.icon(src="/assets/img/piggybank.svg")

if daily
  .daily
    +period(daily, "€/jour ", dailyMetaphore, " croissants", "/assets/img/croissant.svg")

if mensual
  .mensual
    +period(mensual, "€/mois ", mensualMetaphore, " places de cinéma", "/assets/img/cinematicket.svg")

if annual
  .annual
    +period(annual, "€/an ", annualMetaphore, " dîners gastronomiques", "/assets/img/toque.svg")
