h3
  i.fa.fa-lightbulb-o
  | Consommation

//- img.icon(src="/assets/img/energy.svg")
if lastPeriod
  .lastPeriod
    span.labelperiod.top Les&ensp;
      = lastPeriod.duration.humanize()
      |&ensp;derniers,
    span.labelconsumption.bottomleft j'ai consommé
    span.value.bottomright= lastPeriod.value
      |kWh

if penultimatePeriod
  .penultimatePeriod
    span.labelperiod.top Les&ensp;
      = penultimatePeriod.duration.humanize()
      |&ensp; précédents,
    span.labelconsumption.bottomleft j'avais consommé
    span.value.bottomright= penultimatePeriod.value
      |kWh
//- span.period.bottomright= period
