h3
  i.fa.fa-lightbulb-o
  | Consommation

//- img.icon(src="/assets/img/energy.svg")

span.labelperiod.top Le dernier semestre
span.labelconsumption.bottomleft j'ai consomé
span.value.bottomright= value
  |kWh

//- span.period.bottomright= period
