h4
   |→ J'ai consomé &nbsp;
   if value
      = value
   |&nbsp kWh &nbsp; en periode de
   |&nbsp
   if period
     = period
   |&nbsp (entre &nbsp
   if start
     = start
   |&nbsp et &nbsp
   if end
     = end
   |).
   br
   br
