h4
   |J'ai consomé &nbsp;
   if value
      = value
   |&nbsp kWh &nbsp; en periode du
   |&nbsp
   if period
     = period
   |.
   br
   br
h5
    | Pour plus d'info:
    br
    br
    | Service client EDF: 09 69 32 15 15.
