img.img_energy(src="/assets/img/energy.svg")

.container_conso.col-md-offset-1
   | J'ai consomé &nbsp;
   if value
   span.conso_energy=value
   span.energy_kwh
    |kWh
   |&nbsp au dernier mois de
   |&nbsp
   if period
     = period
