img.img-thumbnail.icon(src="/assets/img/edf_logo_big.png")

ul
  li
    span.label Contrat&nbsp;
    span.value= name
      | &ensp;
      = contractSubcategory1
  li
    span.label Puissance :&ensp;
    span.value= power
  li
    span.label Point De Livraison :&ensp;
    span.value= pdl
