img.img_edf(src="/assets/img/edf_logo_big.png")
.contrant_glob
 |*&nbsp
 if name
    = name
 | &nbsp
 .row
 |*&nbsp
 if contractSubcategory1
    = contractSubcategory1
 |&nbsp
 .row
 |*&nbsp
 if power
    = power
 .row
 |*&nbsp pdl: &nbsp
 if pdl
   = pdl
