.columnbody.col-xs-8
  .row.container_head
    .paymentterms
    .budget.col-xs-12
    .consumption.col-xs-12

  .container_bills
    .bills
  .files

.columnright.col-xs-4
  .contract

  .contact

    h4 Contacter EDF

    .phoneTroubleshooting
    .phoneContact

.close x
