.container_contrat.col-md-offset-8
  .contract
.container_head.col-md-8
  .paymentterms
  .consomation
.container_contact.col-md-offset-8
 .phoneDepannage
 .phoneContact
.container_bills
 .bills
.files
.close x
