.paymentterms

h3
   if montantTarifTtc
      = montantTarifTtc
   |€ par an.
h3
   | J'ai eu mon contrat &nbsp
   if vendor
      = vendor
   | &nbsp le &nbsp
   if startDate
      = startDate
   | &nbsp sous le numéro de &nbsp
   if societaire
      = societaire
   |.
   br

.homeMaif
.foyerMaif
.societaireMaif
.sinistres

.col-md-6
p
  | Service client maif
  br
.col-md-6
p
  | &nbsp Tel:&nbsp 09 72 72 15 15

.files

.close x
