.columnbody.col-xs-8
  .row.container_head
    .col-xs-12
      .budget

  .bills

  .files

.columnright.col-xs-4
  .contract
    img.img-thumbnail.icon(src="/assets/img/icon_konnectors/#{slug}.svg")

.close x
