.row.col-md-3.col-md-offset-9
     img.logo_maif_maquette(src="/assets/img/maif_logo_big.png")
.col-md-3.col-md-offset-9
   | Mon contrat &nbsp
   if societaire
      = societaire
   .row
   | Début de contrat &nbsp
   if startDate
      = startDate

.row
.col-md-8.espace_blanc_maquette
 .paymentterms
 .affiche_flex
  .homeMaif
  .col-md-offset-3
   .foyerMaif
 .sinistres
 .row.col-md-offset-3
   h4
     |Mon véhicul assuré

.row
.col-md-offset-9
 h2
   | Contact maif
.col-md-offset-8
 p
   | &nbsp Tel:&nbsp 09 72 72 15 15

.col-md-offset-9
 .societaireMaif


.files
.close x
