.columnbody.col-xs-8
  .row.container_head
    .paymentterms

    .foyerMaif
    .homeMaif


    .sinistres

    //- .vehicul_assure
    //-    |Mon véhicul assuré:
    //-    Button.btn_sinistre_vehicul
    //-       | Sinistre véhicul

  .files

.columnright.col-xs-4
  .contract
    img.img-thumbnail.icon(src="/assets/img/maif_logo_big.png")

    ul
      li
        span.label Numéro de sociétaire :&ensp;
        span.value= societaire
      li
        span.label Contrat&nbsp
        span.value= name

      li
        span.label Début de contrat&nbsp;
        span.value= startDate

  .contact
    h4 Contacter la Maif
    div
      img(src="/assets/img/tell.svg")
      span &nbsp;09 72 72 15 15

  //- .societaireMaif

.close x
