.row.col-md-3.col-md-offset-9
     img.logo_maif_maquette(src="/assets/img/maif_logo_big.png")
.col-md-3.col-md-offset-9
   .row.mon_contrat
     | Mon contrat &nbsp
   .row.numero_contrat
     | N°&nbsp
     if societaire
       = societaire
   .row.debut_contrat
     | Début de contrat &nbsp
   .row.start_date
       if startDate
          = startDate

.row
.col-md-8.espace_blanc_maquette
 .paymentterms
 .affiche_flex
  .homeMaif
  .col-md-offset-3
   .foyerMaif
 .sinistres
 .row.col-md-offset-3
 .vehicul_assure
   |Mon véhicul assuré:
   Button.btn_sinistre_vehicul
      | Sinistre véhicul


.row.contac_maif
  .col-md-offset-9
   h2
     | Contact maif
  .col-md-offset-9
   p
     img.img_tell_maif(src="/assets/img/tell.svg")

     | &nbsp 09 72 72 15 15


.col-md-offset-9
 .societaireMaif


.files
.close x
