h4 Membres de foyer:
if membres
  ul
    each value in membres
      if value.name
        li
          .name
            span.namegiven=value.name.given.toLowerCase()
            |&ensp;
            span.namefamily=value.name.family
