.divdiv
h3 Mon habitat assuré:
ul
  li
     if natureLieu
        = natureLieu
     br
  li
     if nombrePieces
        = nombrePieces
  li
     if situationJuridiqueLieu
        = situationJuridiqueLieu
     br
