.col-xs-12
  .row
    //- .col-lg-6
    //-   #map
    .col-lg-6.mapcontainer
      img(src='assets/img/icon.svg')

    .col-lg-6.frame
      .row
        .col-xs-12.home
          h3
            i.fa.fa-home
            | Mon Logis

          if home.address
            .address= home.address.street
              | &ensp;
              = home.address.city

          ul.details
            li
              = natureLieu
            li
              = nombrePieces
            li
              = situationJuridiqueLieu

.col-xs-12.frame
  .row
    .col-xs-12.budget


  .row
    .col-lg-12.files
