if modePaiement
 .row
     img.img_payment(src="/assets/img/payment.svg")
  .col-md-offset-2.mode_payment
     | Je paye en mode de &nbsp
     = modePaiement

if annualCost
 .row
  .col-md-offset-2
    .col-md-offset-10
      div.annual_cost= annualCost
       |€
     .row.annual_cost_text.col-md-offset-8
     | par an.

if nextPaymentAmount
  .paymentH4.col-md-offset-4
     span.prochain_paiment
     | mon prochain paiment &nbsp;
     span.amountEdf= nextPaymentAmount.amount
     span.symbolEuro
      |€
     .row
     span.space_text
     |&nbsp le &nbsp
     = nextPaymentAmount.scheduleDate
     |,
     span.text_date
      | &nbsp dans un mois &nbsp

  img.img_calendar(src="/assets/img/payment.svg")

if lastPaymentAmount
  .last_payment
     span.paymentSemaine
      | il y a une semaine &nbsp
     |mon précédent paiement était de &nbsp

     span.lastPayment= lastPaymentAmount.amount
     |&nbsp le
     = lastPaymentAmount.scheduleDate
