if modePaiement
  h3
     | Je paye en mode de &ensp;
     = modePaiement

if nextPaymentAmount
  h4.payment4
     | → Mon prochain paiment,&ensp;
     = nextPaymentAmount
      |.
     br

if lastPaymentAmount
  h4
     | → Mon dernier paiment,&ensp;
     = lastPaymentAmount
     |.
     br
     br
