if annualCost
  .annualPayment
    img.icon(src="/assets/img/payment.svg")
    span.labelamount.topleft Je paye&nbsp
    span.amount.topright= annualCost
      |€
    span.mode.bottomleft= modePaiement
    span.date.bottomright par an.

if nextPaymentAmount
  .nextpayment
    img.icon(src="/assets/img/payment.svg")

    span.labelamount.topright mon prochain paiment
    span.topleft.amount= nextPaymentAmount.amount
      |€

    span.bottomright.labeldate
      |le&nbsp
      = nextPaymentAmount.scheduleDate
    span.bottomleft.date
      | dans un mois


if lastPaymentAmount
  .lastpayment
    span.topleft.labelamount mon dernier paiement &nbsp;
    span.topright.amount= lastPaymentAmount.amount
      |€

    span.bottomleft.labeldate
      |le &nbsp
      = nextPaymentAmount.scheduleDate
      |&nbsp;:
    span.bottomright.date
      | il y a un mois
