if modePaiement
  h3
     | Je paye en mode de;
     = modePaiement

if nextPaymentAmount
  .paymentH4.col-md-offset-4
     span.prochain_paiment
     | mon prochain paiment &nbsp;
     span.amountEdf= nextPaymentAmount.amount
     span.symbolEuro
      |€
     .row
     span.space_text
     |&nbsp le &nbsp
     = nextPaymentAmount.scheduleDate
     |,
     span.text_date
      | &nbsp dans un mois &nbsp

img.img_calendar(src="/assets/img/calendar.svg")

if lastPaymentAmount
  .last_payment
     span.paymentSemaine
      | il y a une semaine &nbsp
     |mon précédent paiement était de &nbsp

     span.lastPayment= lastPaymentAmount
     = lastPaymentDate
