h3
  i.fa.fa-money
  | Paiements

if annualCost
  .annualPayment
    //- img.icon(src="/assets/img/payment.svg")
    span.labelamount Je paie&nbsp
    span.amount= annualCost
      |€
    span.mode= modePaiement
    span.date par an.

if nextPaymentAmount
  .nextpayment
    img.icon(src="/assets/img/payment.svg")

    span.labelamount.topright mon prochain paiement
    span.topleft.amount= nextPaymentAmount.amount
      |€

    span.bottomright.labeldate
      |le&nbsp
      = nextPaymentAmount.scheduleDate
    span.bottomleft.date
      | dans un mois


if lastPaymentAmount
  .lastpayment
    span.topleft.labelamount mon dernier paiement &nbsp;
    span.topright.amount= lastPaymentAmount.amount
      |€

    span.bottomleft.labeldate
      |le &nbsp
      = nextPaymentAmount.scheduleDate
      |&nbsp;:
    span.bottomright.date
      | il y a un mois
