p
    span.contact_titre
     | Contact EDF:

p
    span.contact_depanage.col-md-offset-2
     | dépannage: &nbsp
     if troubleshootingPhone
       = troubleshootingPhone
img.img_tell(src="/assets/img/tell.svg")
