button
   | Toutes mes données
.row
//-ul
  li
     | Nom: &nbsp
     if name
        = name.family
     | &nbsp
     if name
        = name.given
  li
     | Profession: &nbsp
     if profession
       = profession
  li
     | Téléphone: &nbsp
     if telMobile
       = telMobile
  li
     | Email: &nbsp
     if email
       = email
