h3 Ajouter un document
//- .insights
ol
  li Choisissez un fihcier sur votre terminal :
    input(type='file')

  li Donnez un nom clair à ce fichier :
    input.form-control(name="filename", type="text", placeholder="notice.pdf")

  li Vous n'avez plus qu'à l'ajouter à votre Cozy :
    button.btn.btn-primary(name='addfile', type="button") ajouter
