/* General */
@import url("./vendors/bootstrap/css/bootstrap.min.css");
@import url("./vendors/bootstrap/css/bootstrap-theme.min.css");

@import url("./vendors/fontawesome/css/font-awesome.css");
@import url("./vendors/weloveiconfonts/iconicstroke.css");

@import url("./vendors/OSMBuildings.css");


* {
  box-sizing: border-box;
}
/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* avoid problems with cozy-bar */
body {
  height: 100vh;
  width: 100vw;
}


/* Popin */
@media(min-width: 768px) {
  #popin iframe {
    border: 5000px solid rgba(0,0,0, 0.7);
    position: absolute;
    top: 50%;
    height: 10500px;
    width: 10700px;
    left: 50%;
    margin-top: -5250px;
    margin-left: -5350px;
    z-index: 10000;
  }
}

@media(max-width: 767px) {
  #popin iframe {
    /*border: 5px solid rgba(0,0,0, 0.7);*/
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 10000;
  }
}
/* END Popin */


[role=application] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  border-top: 35px solid white;
  font-family: Lato, sans-serif;
}

ol, ul{
  list-style: none;
}

h2 {
  font-size: 1.5em;
}

h2 img {
  max-height: 1.5em;
}

/*
  typycal cozy left bar
*/
aside {
  width: 220px;
  height: 100%;
  float: left;
  background: #EEE;
  font-family: Lato, sans-serif;
  font-size: 15px;
  padding: 16px;
}

aside .category {
  line-height: 48px;
}


aside .selected {
  font-weight: 700;
}

aside ul {
  list-style: none;
  padding-left: 16px;
}

aside li {
  line-height: 30px;
  cursor: pointer;
}


aside .btn {
  border-radius: 100%;
}


/*aside li:hover {
  background: #CCC;
}*/

/*
.houseitem {
  height: 80px;
  text-align: center;
  margin: 15px;
  float: left;
  padding: 15px;
}

.houseitem img {
  max-height: 50px;
  max-width: 100px;
  min-height: 50px;
}*/



/* END left bar */

main {
  height: 100%;
}

.clearright {
  clear: right;
}

/*
.mapcontainer > #map {
  width: 100%;
  padding-bottom: 100%;
}

#map {
 width: 100%;
 height: 100%;
}
*/

/*
  houseitemdetails
*/


.houseitemdetails {
  /* background-color: #d9edf7; */
  height: 100%;
  overflow-y: auto;
  padding: 30px;
}

.houseitemdetails .frame {
  border: solid 2px #CCC;
}

.houseitemdetails .frame h3 {
  font-size: 1.1em;
  background: #EEE;
  line-height: 2.5;
  margin: none;
  margin:  0 -15px 15px -15px;
  padding: 0 15px;
}

.houseitemdetails .frame h3 i {
  margin-right: 10px;
}

.houseitemdetails .frame h3 a {
  float: right;
}

.houseitemdetails .frame h3 a i {
  margin: 0 10px;
}

.houseitemdetails .frame h4 {
  font-size: 1em;
}

.houseitemsdetails .frame .row {
  border-bottom: solid 2px #CCC;
}

.houseitemsdetails .frame .row:last-child {
  border-bottom: none;
}


.houseitemdetails .filestools {
  margin-top: 40px;
}

.houseitemdetails .close {
  position: absolute;
  top: 10px;
  right: 15px;
}

/*
  budget
*/

.budget .illustration {
  max-width: 100%;
  margin-bottom: 15px;
}

.budget .budgetline {
  position: relative;
  height: 72px;
}

.budget .value,
.budget .unit {
  font-size: 20px;
}

.budget .value {
  font-weight: bold;
}

.budget .equal {
  position: absolute;
  left: 150px;
  font-size: 20px;
  font-weight: 700;
}

.budget .metaphore {
  position: absolute;
  left: 180px;
  text-align: center;
}

.budget .metaphore img {
  margin-right: 10px;
  max-width: 32px;
  max-height: 32px;
}

.budget .metaphoreLabel {
  text-align: center;
  width: 100%;
  clear: right;
}

/*
  END budget
*/

/*
  paymentterms
*/
.paymentterms .icon {
  width: 72px;
  position: absolute;

  top: 50%;
  margin-top: -36px;
  left: 15px;
}

.paymentterms .topleft {
  position: absolute;
  right: 41%;
  bottom: 51%;
}

.paymentterms .topright {
  position: absolute;
  left: 61%;
  bottom: 51%;
}

.paymentterms .bottomleft {
  position: absolute;
  right: 41%;
  top: 51%;
}

.paymentterms .bottomright {
  position: absolute;
  left: 61%;
  top: 51%;
}

.paymentterms .nextpayment,
.paymentterms .lastpayment,
.paymentterms .annualPayment {
  position: relative;
  margin: 20px 0;
  height: 120px;
}

.paymentterms .nextpayment {
  height: 120px;
}

.paymentterms .amount {
  font-size: 54px;
  color: #FFA500;
  font-weight: bold;
  line-height: 1;
}

.paymentterms .date {
  font-size: 26px;
  line-height: 1;
}

.paymentterms .lastpayment {
  position: relative;
  height: 75px;
}

.lastpayment .amount {
  font-size: 28px;
  color: black;
  font-weight: bold;

  line-height: 1;
}

.lastpayment .date {
  font-size: 26px;
  line-height: 1;
}

.lastpayment .labeldate {}

.lastpayment .labelamount {}

/* files */
.files {
  border-right: solid 2px #CCC;
}

.files ul {
  clear: both;
  padding: 0;
}

.files li {
  cursor: pointer;
  line-height: 48px;
  border-bottom: solid 1px #EEE;
}

/*.files li:hover {
  background: #EEE;
}*/

.files li i {
  margin-right: 10px;
  font-size: 24px;
}

.files li .bill {
  color: #666;
  float: right;
  font-size: 80%;
}

.addfile {
  margin-bottom: 10px;
}

.addfile #uploadfile {
   opacity: 0;
   position: absolute;
   z-index: -1;
/*  margin-top: 11em; */
}

.addfile input.filename {
  width: 200px;
}

.addfile button {
  margin-left: 10px;
}

.addfile li {
  margin-bottom: 15px;
}


/*
  houseitemdetails consumption (EDF)
*/
.consumption {
  height: 120px;
  position: relative;
  margin: 20px 0;
}

.consumption .icon {
  width: 80px;
  margin-top: -40px;
  top: 50%;
  right: 20px;
  position: absolute;
}

.consumption .topleft {
  position: absolute;
  right: 71%;
  bottom: 51%;
}

.consumption .topright {
  position: absolute;
  left: 31%;
  bottom: 51%;
}

.consumption .bottomleft {
  position: absolute;
  right: 71%;
  top: 51%;
}

.consumption .bottomright {
  position: absolute;
  left: 31%;
  top: 51%;
}

.consumption .value {
  font-size: 40px;
  line-height: 1;
}

/* houseitemdetails maif */

.foyerMaif {
  margin: 30px;
}

.foyerMaif .namegiven {
  text-transform: capitalize;
  font-weight: bold;
}

.foyerMaif .namefamily {
  color: #666;
}


.homeMaif {
  margin: 30px;
}

.homeMaif .icon {
  width: 75px;
  margin: 10px 20px 10px 10px;
  float: left;
}

.habitat_assuree{
  margin-top: -99px;
}

.button_sinistre{
  margin-left: 119px;
  margin-bottom: 20px;
}

.detail_habitat{
  margin-left: -25px;
}


.logo_maif_maquette{
  width: 200px;
  margin-top: 7px;
}

.btn_sinistre_vehicul{
  font-size: 13px;
  margin-left: 9px;
  margin-top: -1px;
}

.vehicul_assure{
  margin-left: 11px;
  margin-bottom: 31px;
  font-size: 23px;
}


/* relation */
.relation ul {

}

.relation ul {
  /*! padding: 0; */
}

.relation li .label {
  color: black;
  font-weight: normal;
  font-size: 13px;
}

.relation li .value {
  font-weight: bold;
}



/* end relation */



/*contrat edf*/

.contract {
  margin: 20px 0;
}

.contract .icon {
  width: 220px;
  /*! margin-left: 4em; */
  background-color: #fff;
  padding: 10px;
  margin: 40px auto;
}


.contrant_glob{
  margin-left: 6em;
  margin-top: 13px;
}

/* contact */
.contact {
  margin-top: 40px;
}

.contact img {
  width: 20px;
  margin: 0 10px;
}

/* Add vendors */
.addvendors .category {
    margin-bottom: 30px;
}

.addvendors .category  .end {
  clear: both;
}

