/* General */
@import url("./vendors/bootstrap/css/bootstrap.min.css");
@import url("./vendors/bootstrap/css/bootstrap-theme.min.css");

@import url("./vendors/weloveiconfonts/iconicstroke.css");

@import url("./vendors/OSMBuildings.css");


/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

/* avoid problems with cozy-bar */
[role=application], body {
  display: block;
}

.mapcontainer > #map {
  width: 100%;
  padding-bottom: 100%;
}

#map {
 width: 100%;
 height: 100%;
}

.houseitems ul {
  list-style: none;
}

.houseitem {
  margin: 20px;
  float: left;
}

.houseitem img {
  max-height: 50px;
}
.facture{
  display: flex;
  justify-content: center;
  margin-top: 20%;
}
